rules_version = '2';
service firebase.storage {
  match /b/{bucket
  }/o {
    // 앱 업로드 전용 폴더
    match /user_uploads/{uid
    }/{allPaths=**
    } {
      allow write: if request.auth != null && request.auth.uid == uid;
      allow read : if true; // 필요하면 다운로드 제한
    }
  }
}